// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

body{
  font-family: Calibre, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  color: #2b2b2b;
}

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll

h1{
  font-size: 38px;
  line-height: 57px;
  font-weight: 600;
  text-transform: uppercase;
}

h2{
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}

h4{
  font-size: 26px;
  line-height: 21px;
  font-weight: 600;
  color: #656868;
}

h5{
  font-size: 21px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
}

h6{
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #656868;
 
}

.lead{
  font-size: 21px;
  line-height: 27px;
  font-weight: 300;
  color: #535553;
}

/*section heading starts*/
.sectionHeading{
  padding: 50px 0px 50px 50px;
  h1{
    margin-bottom: 10px;
  padding-bottom: 10px;
  &:after{
    content: '';
    margin-top: 20px;
    display: block;
    width: 140px;
    height: 4px;
    background-color: yellow;
  }
  }
  h6{
    margin-bottom: 15px;
  }
  .lead{
    margin-top: 19px;
    margin-bottom: 10px;
  } 
}

.sectionHeading.sectionheading-center h1:after{
margin-left: auto;
margin-right: auto;
}

strong{
  font-weight: 600;
}
.lead.center{
    font-size: 21px;
    line-height: 27px;
    font-weight: 300;
    text-align: justify;
    margin-left: 140px;
    margin-right: 140px;
  }

/* card starts */
.card-type-1{
  border: none;
  box-shadow: 0 15px 30px 0 rgba(101, 105, 167, .58);
  &:hover{
    box-shadow: 0 0 30px 0 rgba(40, 47, 151,0.93);
  }
  
  .card-body{
    h5{
     
    }
    p{
      font-size: 19px;
      line-height: 27px;
      font-weight: 400;
      text-align: left;
      color: #656868;
    }
    link{
      color: yellow;
      a{
        color: yellow;
        font-size: 16px;
        line-height: 23px;
        font-weight: 600;
        &:hover{
          color: black;
        }
       }
       
    }
    
  }
}


/* card ends */

/* tabs starts*/
.nav-tabs-1{
font-size: 18px;
line-height: 23px;
font-weight: 600;
color: #535553;

.nav-item{
 
  .nav-link{
    color: #535553;
    margin-right: 50px;
    text-transform: uppercase;
   &.active{
    border: none;
    border-bottom: solid 2px #7862a5;
   } 
  }
}
}

/* tabs ends*/

/* card-type-2 starts*/
.card{
padding: 16px 16px 10px 16px;
  .card-img-top{
    
   &.card-img-top-1{
  
   }
  }
  .card-subtitle{
    
  &.blog{
    margin: 16px;
  }
  }
  ul{
    padding-top: 7px;
  }
}



/* card-type-2 end*/