// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

body{
  font-family: Calibre, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  color: #2b2b2b;
}

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll

h1{
  font-size: 47px;
  line-height: 57px;
  font-weight: 600;
}

h2{
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}

h4{
  font-size: 26px;
  line-height: 21px;
  font-weight: 600;
}

h5{
  font-size: 21px;
  line-height: 21px;
  font-weight: 500;
}

h6{
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color:#2b2b2b;
}

.lead{
  font-size: 23px;
  line-height: 27px;
  font-weight: 300;
}
.text-color-2{
  color:#656868;
}
.text-color-3{
  color:#656868;
}
.text-color-4{
  color: #ffd105;
  padding-top: 10px;
  padding-bottom: 17px;
}
.heading-underline{
  padding-bottom: 10px;
  margin-bottom: 10px;
  &:after{
    content:"";
    display: block;
    width: 160px;
    height: 4px;
    background: #ffd105;
    margin-top: 20px
  }
  &.text-center{
    &:after {
      margin-left: auto;
      margin-right: auto ;
    }
  }
} 
.page-Section{
  color:red;
}
/* section Navbar Starts */
.navbar{
  color:red;
  .navbar-brand{
    color:red;
  }
  .navbar-nav{
    color:red;
    .nav-item{
      color:red;
      .nav-link{
        color:#2b2b2b;
        font-size: 15px;
        font-weight: 500;
        &.active{
        }
        &.dropdown{
          .dropdown-menu{
            li{
              .dropdown-item{
              }
            }
          }
        }
      }
    }
  }
}
/* section Navbar Ends */
/* Section Heading Starts  */
.section-heading {
  h6{
     margin-bottom: 15px;
  }
  h1{
    margin-bottom: 10px;
    padding-bottom: 10px; 
    &:after{
      content:"";
      display: block;
      width: 160px;
      height: 4px;
      background: #ffd105;
      margin-top: 20px
    }
  }
  .lead{
    margin-bottom: 10px;
  }
  &.section-heading-center{
    h1:after{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
/* Section Heading Ends  */

/* section cart type 1 Starts*/
.card-type-1 {
  border:none;
  box-shadow: 0 15px 30px 0 rgba(101,105,167, .18);
  &:hover{
    box-shadow: 0 0 30px 0 rgba(101,105,167, .4);
  }
  .text-center{
    &:after{
      margin-left: auto;
      margin-right: auto;
      font-size:24px;
    }
  }
}
.card-body {
  padding:30px;
  .card-title{
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 10px;
    i{
      color:#ffd105;
      display:inline-block;
    }
      }
     .card-text{
       margin-bottom: 15px;
      }
     .card-link{
       color:#ffd105;
      }
    }
/* section card typs 1 Ends */

/* section card type 1 Starts*/
.card-type-1{
  border: none;
  box-shadow: 0 15px 30px 0 rgba(101,105,167, .18);
  width:405px;
  &:hover{
    box-shadow: 0 0 30px 0 rgba(101,105,167, .4);
  }
   .card-body{
     padding:30px;
      .card-tittle{
        margin-bottom: 20px;
        font-size: 20px; 
        i{
          padding-bottom: 25px; 
          display: inline-block;
          color:#ffd105;
        }
      }
     .card-text{
       margin-bottom: 15px;
      }
     .card-link{
       color:#ffd105;
      }
    }
  }
/* section card type 1 Ends */

/* section Tab Type 1 Starts*/
  .nav-tabs-1{
    color:red;
    .nev-item{
      color:red;
      .nev-link{
        color:red;
        &.active{
          color:red
        }
      }
    }
  }
/* section Tab Type 1 Ends*/


 /* section carousel 1 Starts */
 .carousel-1{
   .carousel-caption{
     text-align: left;
     left: 50px;
     top: 50px;
   }
   .h1{
    font-size: 47px; 
    font-weight:600px ;
   }
 }
 .btn-primary{
   color: #2b2b2b;
   background-color: #ffd105;
   border-color: #ffd105;
   font-size: 29px;
   border-radius: 40px;
 }
 /* section carousel 1 Ends */

 /* section nav link-1 Starts */
//  TODO: Imlement hover style
 .nav-link-1{
   h4{
      line-height: 21px;
      font-size: 17px;
      font-weight: 600;
   }
   ul.nav{
    color: red;
     .nav-item{
      color: red;
       .nav-link{
          padding-left: 0px;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.2;
       }
     }
   }
 }
 /* section Forms Form-1 Starts */
 .form-style-1{
   .form-label, .form-check-label{
     color:#7c8080;
     font-size: 16px;
     font-weight: 400;
     line-height:23px;
   }
   .form-control, .from-select{
     color: #adadad;
     border: none;
     border-bottom:solid 1px #2b2b2b;
     border-radius:0;
     background:none;
    &:focus{
      border-bottom: solid 1px #ffd105;
      outline:none;
      box-shadow:none;
    }
   }
 }
 /* section Forms Form-1 Ends */
 .form-wrapper-1{
   background-color: #3d3d3d;
   padding: 20px 30px;
 }