// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

body {
  font-family: Calibre, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  color: #2b2b2b;
}

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll

h1 {
  font-size: 57px;
  line-height: 57px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}

h4 {
  font-size: 26px;
  line-height: 21px;
  font-weight: 600;
}

h5 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #656868;
}

.text-color-1{
  color: #656868;
}
.text-color-2{
  color: #2b2b2b;
}
.text-color-3{
  color: #ffd105;
}
.lead {
  font-size: 23px;
  line-height: 27px;
  font-weight: 300;
}
.btn-primary {
  background-color: #ffd105;
  color: #2b2b2b;
  border: solid 2px #ffd105;
  text-transform: uppercase;
  border-radius: 24px;
  font-weight: 600;
  font-size: 15px;
  padding: 8px 30px;
}
.btn-primary:hover {
  border: solid 2px #ffd105;
  background: none;
  color:#ffd105;
}
.btn-link {
  color: #ffd105;
  text-decoration: none;
}
.btn-link:hover {
  color: #865151;
  text-decoration: none;
}
.heading-underline{
  padding-bottom: 10px;
  margin-bottom: 10px;
  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #ffd105;
    margin-top: 20px;
}
&.text-center{
  &:after{
    margin-left: auto;
    margin-right: auto;
  }
}
}

/*section-heading style*/
.section-heading {
  h6 {
    margin-bottom: 15px;
  }
  h1 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    &:after {
      content: "";
      display: block;
      height: 4px;
      width: 160px;
      background-color: #ffd105;
      margin-top: 20px;
    }
  }
  .lead {
    margin-bottom: 10px;
  }
  &.section-heading-center {
    h1:after {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

/*section nav style*/
.nav-tabs-1 {
  .nav-item {
    .nav-link {
      color: #ffd105;
      text-transform: uppercase;
      &.active {
        border-bottom: solid 3px #7862a5;
        border: none;
      }
    }
  }
}

/*section card style*/
.card-type-1 {
  border: none;
  box-shadow: 0 15px 30px 0 rgba(101, 105, 167, 0.18);
  &:hover {
    box-shadow: 0 0 30px 0 rgba(101, 105, 167, 0.4);
  }
  .card-body {
    padding: 30px;
    .card-title {
      margin-bottom: 20px;
      i {
        color: #ffd105;
        display: inline-block;
        padding-right: 15px;
      }
    }
    .card-text {
      margin-bottom: 15px;
    }
    .card-link {
    }
  }
}
/*section carousel-1 style*/
.carousel-1 {
  .carousel-caption {
    text-align: left;
    left: 50px;
    top: 50px;
    bottom: auto;
  }
}  

